.cont{
    width: auto;
    // height: 400px;
    margin-left: auto;
    margin-right: auto;
    // margin-top: auto;
    // margin-bottom: auto;
    // border: solid 1px black;
    img{
        width: 100px;
        display: block;
        margin: auto;
        padding-top: 35px;
    }
    h1{
        font-size: 1.5rem;
    }
}

.btn{
    background-color: #1d9bf0;
    border: none;
    color: white;
    margin: auto;
    display: block;
    width: 40%;
}

.container{
    background-color: #f8f9fd;
}

.formCon{
    background-color: white;
    width: 308px;
    height: 229px;
    border: solid 1px rgb(223, 223, 223);
    box-shadow: rgb(199, 199, 199) .001px .001px 6px 1px;
    border-radius: 6px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    input{
        height: 30px;
        width: 90%;
        margin-left: 5%;
        margin-top: 0;
    }
    label{
        margin-left: 5%;
        margin-top: 0;
    }

    button{
        height: 35px;
        width: 90%;
        text-align: center;
        justify-content: center;
    }
}

.signin{
    width: 308px;
    height: 60px;
    margin-top: 39px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px rgb(223, 223, 223);
    box-shadow: rgb(199, 199, 199) .001px .001px 6px 1px;
    border-radius: 6px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    p{
        margin-top: auto;
        margin-bottom: auto;
    }
}


// 308 * 229