.con{
    display: flex;
    // padding-top: 16%;
    // padding-top: auto;
    // margin-top: 3%;
    // margin: auto;
    align-self: center;
    justify-self: center;
    position: relative;
}

.line{
    background-color: black;
    width: 1px;
    margin-left: auto;
    // position: relative;
    // right: 0;
}