.cont{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    // margin-top: auto;
    // margin-bottom: auto;
    img{
        width: 35%;
        display: block;
        margin: auto;
    }
}

.btn{
    background-color: #1d9bf0;
    border: none;
    color: white;
    margin: auto;
    display: block;
    width: 20%;
}